h1{
   color: #4B644A !important;
}

.aqua{
   background-color:#ADFCF9 !important;
}

.jumboTron{
   background-color: #49393B !important;
   color: white;
}
.jumboTron  h1{
   color: white !important;
}